# Copyright (c) 2016-2021 Knuth Project developers.
# Distributed under the MIT software license, see the accompanying
# file COPYING or http://www.opensource.org/licenses/mit-license.php.

name: Build and Test

on: [push, pull_request]

# on:
#   release:
#     types: [created]

jobs:
  generate-matrix:
    name: Generate Job Matrix
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Generate Job Matrix
        id: set-matrix
        env:
          # MATRIX: '{"config": [{"name": "Linux NodeJS 15","nodejs_version": "15","os": "ubuntu-20.04","os_kind": "linux","test": "1"},
          #                      {"name": "Linux NodeJS 14","nodejs_version": "14","os": "ubuntu-20.04","os_kind": "linux","test": "1"},
          #                      {"name": "Linux NodeJS 12","nodejs_version": "12","os": "ubuntu-20.04","os_kind": "linux","test": "1"},
          #                      {"name": "macOS NodeJS 15","nodejs_version": "15","os": "macos-10.15","os_kind": "macos","test": "0"},
          #                      {"name": "macOS NodeJS 14","nodejs_version": "14","os": "macos-10.15","os_kind": "macos","test": "0"},
          #                      {"name": "macOS NodeJS 12","nodejs_version": "12","os": "macos-10.15","os_kind": "macos","test": "0"},
          #                      {"name": "Windows NodeJS 15","nodejs_version": "15","os": "windows-2019","os_kind": "windows","test": "1"},
          #                      {"name": "Windows NodeJS 14","nodejs_version": "14","os": "windows-2019","os_kind": "windows","test": "1"},
          #                      {"name": "Windows NodeJS 12","nodejs_version": "12","os": "windows-2019","os_kind": "windows","test": "1"},
          #                      ]}'
          MATRIX: '{"config": [{"name": "Linux NodeJS 15","nodejs_version": "15","os": "ubuntu-20.04","os_kind": "linux","test": "1"},
                               ]}'

          run: |
          echo "${MATRIX}"
          echo "::set-output name=matrix::${MATRIX}"

  builds:
    needs: generate-matrix
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
    name: ${{ matrix.config.name }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.config.nodejs_version }}
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      # - name: Settting EnvVars (Unix)
      #   if: ${{ matrix.config.os_kind != 'windows' }}
      #   shell: bash
      #   run: |
      #     echo "NODEJS_VERSION=${{ matrix.config.nodejs_version }}" >> $GITHUB_ENV
      #     echo "KTH_GHA_MARCH_ID=${{ matrix.config.march_id }}" >> $GITHUB_ENV
      #     echo "KTH_GHA_RUN_TESTS=${{ matrix.config.test }}" >> $GITHUB_ENV

      # - name: Settting EnvVars (Windows)
      #   if: ${{ matrix.config.os_kind == 'windows' }}
      #   shell: powershell
      #   run: |
      #     echo "NODEJS_VERSION=${{ matrix.config.nodejs_version }}" >> $Env:GITHUB_ENV
      #     echo "KTH_GHA_MARCH_ID=${{ matrix.config.march_id }}" >> $Env:GITHUB_ENV
      #     echo "KTH_GHA_RUN_TESTS=${{ matrix.config.test }}" >> $Env:GITHUB_ENV

      - run: python --version
      - run: python3 --version
      # - run: npm install --loglevel verbose
      - run: npm install
      - run: git status
      - run: git diff
      - run: npm ci
      # - run: npm test --runInBand
      - run: npm test
        if: ${{ matrix.config.test == '1' }}

  publish-npm:
    needs: builds
    runs-on: ubuntu-latest
    name: Public NPM
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

  publish-gpr:
    # needs: publish-npm
    needs: builds
    runs-on: ubuntu-latest
    name: Public GPR
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
          registry-url: https://npm.pkg.github.com/
      # - run: npm login
      - run: npm ci
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NODE_PRE_GYP_GITHUB_TOKEN}}



